@import "_config.scss";


header
{
    display: block;
    width: 100%;
    background-color: color(bg);
    margin:0px;
    padding:0px;


    .wrap
    {
        width:70%;
        height:100px;
        margin:auto;
    }
    
    .logo
    {
        height:100%;
        width: 400px;
        text-align:center;
        margin:auto;
        img
        {
            float:left;
        }
    }

    .logoTitle
    {
        display:inline-block;
        color: color(font);
        font-size: 30px;
        margin-top:30px;
    }

    nav {
        display:block;
        background-color: color(primary);
        width:70%;
        margin:auto;
        margin-top:15px;
        border-radius: 10px;
        padding: 0 20px 0 20px;

        ul
        {
            width:100%;
            text-align: center;
            padding:0px;
        
        }

        ul li
        {
            list-style-type: none;
            display: inline-block;
            padding: 10px;
            margin-right: 10px;
            margin-left:10px;
            border-radius: 10px;
            margin-top:5px;
            margin-bottom:5px;
            text-align:center;
            a
            {
                color: color(font);
            }
        }

        ul li:hover
        {
            background-color:color(primary-dark);
            
            a
            {
                color:color(primary);
            }
        }

    }
}

.primary-font
{
    color:color(primary);
}

footer
{
    display:block;
    width:100%;
    background-color: color(bg2);
    height:50px;
    text-align:center;
    opacity:0.6;
    color: color(accent-dark);
    p
    {
        padding:0px;
        margin:0px;
    }
} 

.content
{
    background-color: color(bg2);
    color: color(font);
    border-radius: 10px;
    width:70%;
    padding:20px;
    margin:auto;
}

.primaryButton
{
    background-color: color(primary);
    border-radius: 10px;
    color:color(font);
    border:0px;
    cursor:pointer;
    padding:10px 20px 10px;
}

.primaryButton:hover
{
    background-color: color(primary-dark);
    color: color(primary);
}